body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}
nav {
  display: grid;
  grid-column: 1/4;
  margin: 35px;
  grid-row: 1;
}
.back-button {
  position: fixed;
  top: 32px;
}
a {
  color: black;
  text-decoration: none;
}

a:hover {
  font-weight: bolder;
}
h1 {
  display: grid;
  grid-column: 2/4;
  grid-row: 1;
  justify-content: center;
  margin: 50x;
}
.song2 {
  grid-column: 1;
  grid-row: 2;

  margin: 10px;
}
.song3 {
  grid-column: 2;
  grid-row: 2;
  margin: 10px;
}
.song4 {
  grid-column: 3;
  grid-row: 2;
  margin: 10px;
}
.song5 {
  grid-column: 4;
  grid-row: 2;
  margin: 10px;
}
.song6 {
  grid-column: 1;
  grid-row: 3;
  margin: 10px;
}
.song7 {
  grid-column: 2;
  grid-row: 3;
  margin: 10px;
}
.song1 {
  grid-column: 3;
  grid-row: 3;
  margin: 10px;
}
.bild1 {
  grid-column: 1/5;
}
