nav {
  display: flex;
  justify-content: space-evenly;
  margin: 35px;
}

h1 {
  display: flex;
  justify-content: center;
}
a {
  color: black;
  text-decoration: none;
}

a:hover {
  font-weight: bolder;
}
